# Analysing the Dataset

## Importing the Libraires

In [1]:
import pandas as pd
import numpy as np

## Reading the Data

In [3]:
data = pd.read_csv("/home/ravind27/Desktop/My_Projects_and_Codes/MLOps_Deep_Learning_Project/data/Covid_Data.csv")

In [5]:
data.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

## Data Preprocessing

### Dropping the Unwanted Columns

In [8]:
data = data.drop(['DATE_DIED'], axis=1)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   INTUBED               1048575 non-null  int64
 5   PNEUMONIA             1048575 non-null  int64
 6   AGE                   1048575 non-null  int64
 7   PREGNANT              1048575 non-null  int64
 8   DIABETES              1048575 non-null  int64
 9   COPD                  1048575 non-null  int64
 10  ASTHMA                1048575 non-null  int64
 11  INMSUPR               1048575 non-null  int64
 12  HIPERTENSION          1048575 non-null  int64
 13  OTHER_DISEASE         1048575 non-null  int64
 14  CARDIOVASCULAR        1048575 non-null  int64
 15  OBESITY               1048575 non-null  int64
 16  RENAL_CHRONIC         1048575 non-null  int64
 17  TOBACCO               1048575 non-null  int64
 18  CLASIFFICATION_FINAL  1048575 non-null  int64
 19  ICU                   1048575 non-null  int64
dtypes: int64(20)
memory usage: 160.0 MB

### Checking for Null Values

In [15]:
for i in data.columns:
    print(i," : ",data[i].isna().sum())

USMER  :  0 ---------- <class 'pandas.core.series.Series'>
MEDICAL_UNIT  :  0 ---------- <class 'pandas.core.series.Series'>
SEX  :  0 ---------- <class 'pandas.core.series.Series'>
PATIENT_TYPE  :  0 ---------- <class 'pandas.core.series.Series'>
INTUBED  :  0 ---------- <class 'pandas.core.series.Series'>
PNEUMONIA  :  0 ---------- <class 'pandas.core.series.Series'>
AGE  :  0 ---------- <class 'pandas.core.series.Series'>
PREGNANT  :  0 ---------- <class 'pandas.core.series.Series'>
DIABETES  :  0 ---------- <class 'pandas.core.series.Series'>
COPD  :  0 ---------- <class 'pandas.core.series.Series'>
ASTHMA  :  0 ---------- <class 'pandas.core.series.Series'>
INMSUPR  :  0 ---------- <class 'pandas.core.series.Series'>
HIPERTENSION  :  0 ---------- <class 'pandas.core.series.Series'>
OTHER_DISEASE  :  0 ---------- <class 'pandas.core.series.Series'>
CARDIOVASCULAR  :  0 ---------- <class 'pandas.core.series.Series'>
OBESITY  :  0 ---------- <class 'pandas.core.series.Series'>
RENAL_CHRONIC  :  0 ---------- <class 'pandas.core.series.Series'>
TOBACCO  :  0 ---------- <class 'pandas.core.series.Series'>
CLASIFFICATION_FINAL  :  0 ---------- <class 'pandas.core.series.Series'>
ICU  :  0 ---------- <class 'pandas.core.series.Series'>

## Splitting the Data

In [16]:
X = data.drop(['CLASIFFICATION_FINAL'], axis=1)
y = data['CLASIFFICATION_FINAL']

In [17]:
X

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,1,13,2,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,13,2,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,13,2,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,13,2,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [18]:
y

0          3
1          5
2          3
3          7
4          3
          ..
1048570    7
1048571    7
1048572    7
1048573    7
1048574    7
Name: CLASIFFICATION_FINAL, Length: 1048575, dtype: int64

In [19]:
type(X)

pandas.core.frame.DataFrame

In [20]:
type(y)

pandas.core.series.Series