# Analysing the Dataset

## Importing the Libraires

In [160]:
import pandas as pd
import numpy as np

## Reading the Data

In [161]:
data = pd.read_csv("/home/ravind27/Desktop/My_Projects_and_Codes/MLOps_Deep_Learning_Project/data/Covid_Data.csv")

In [162]:
data.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [163]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

## Data Preprocessing

### Dropping the Unwanted Columns

In [164]:
data = data.drop(['DATE_DIED'], axis=1)

In [165]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   INTUBED               1048575 non-null  int64
 5   PNEUMONIA             1048575 non-null  int64
 6   AGE                   1048575 non-null  int64
 7   PREGNANT              1048575 non-null  int64
 8   DIABETES              1048575 non-null  int64
 9   COPD                  1048575 non-null  int64
 10  ASTHMA                1048575 non-null  int64
 11  INMSUPR               1048575 non-null  int64
 12  HIPERTENSION          1048575 non-null  int64
 13  OTHER_DISEASE         1048575 non-null  int64
 14  CARDIOVASCULAR        1048575 non-null  int64
 15  OBESITY               1048575 non-null  int64
 16  RENAL_CHRONIC         1048575 non-null  int64
 17  TOBACCO               1048575 non-null  int64
 18  CLASIFFICATION_FINAL  1048575 non-null  int64
 19  ICU                   1048575 non-null  int64
dtypes: int64(20)
memory usage: 160.0 MB

### Checking for Null Values

In [166]:
for i in data.columns:
    print(i," : ",data[i].isna().sum())

USMER  :  0
MEDICAL_UNIT  :  0
SEX  :  0
PATIENT_TYPE  :  0
INTUBED  :  0
PNEUMONIA  :  0
AGE  :  0
PREGNANT  :  0
DIABETES  :  0
COPD  :  0
ASTHMA  :  0
INMSUPR  :  0
HIPERTENSION  :  0
OTHER_DISEASE  :  0
CARDIOVASCULAR  :  0
OBESITY  :  0
RENAL_CHRONIC  :  0
TOBACCO  :  0
CLASIFFICATION_FINAL  :  0
ICU  :  0

In [167]:
data["CLASIFFICATION_FINAL"].value_counts()

CLASIFFICATION_FINAL
7    499250
3    381527
6    128133
5     26091
1      8601
4      3122
2      1851
Name: count, dtype: int64

## Splitting the Data

In [168]:
X = data.drop(['CLASIFFICATION_FINAL'], axis=1)
y = data['CLASIFFICATION_FINAL']

In [169]:
X

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,1,13,2,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,13,2,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,13,2,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,13,2,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [170]:
y

0          3
1          5
2          3
3          7
4          3
          ..
1048570    7
1048571    7
1048572    7
1048573    7
1048574    7
Name: CLASIFFICATION_FINAL, Length: 1048575, dtype: int64

In [171]:
type(X)

pandas.core.frame.DataFrame

In [172]:
type(y)

pandas.core.series.Series

## Building the Model

In [173]:
import tensorflow as tf

### Defining the Architecture

In [185]:
ann = tf.keras.Sequential()

In [186]:
ann.add(tf.keras.layers.Dense(50, "relu"))
ann.add(tf.keras.layers.Dense(25, "relu"))
ann.add(tf.keras.layers.Dense(12, "relu"))
ann.add(tf.keras.layers.Dense(units=8, activation=tf.keras.layers.Softmax()))
ann.compile(optimizer='adam',loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), metrics=['accuracy'])

In [187]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [188]:
ann.fit(X_train, y_train, epochs=10, batch_size=128)

Epoch 1/10

/home/ravind27/Desktop/My_Projects_and_Codes/MLOps_Deep_Learning_Project/deeplearning/lib/python3.8/site-packages/keras/src/backend.py:5714: UserWarning: "`sparse_categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Softmax activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

6554/6554 [==============================] - 11s 2ms/step - loss: 1.1043 - accuracy: 0.5257
Epoch 2/10
6554/6554 [==============================] - 8s 1ms/step - loss: 1.0722 - accuracy: 0.5316
Epoch 3/10
6554/6554 [==============================] - 8s 1ms/step - loss: 1.0661 - accuracy: 0.5330
Epoch 4/10
6554/6554 [==============================] - 7s 1ms/step - loss: 1.0617 - accuracy: 0.5347
Epoch 5/10
6554/6554 [==============================] - 9s 1ms/step - loss: 1.0566 - accuracy: 0.5380
Epoch 6/10
6554/6554 [==============================] - 8s 1ms/step - loss: 1.0537 - accuracy: 0.5387
Epoch 7/10
6554/6554 [==============================] - 9s 1ms/step - loss: 1.0520 - accuracy: 0.5398
Epoch 8/10
6554/6554 [==============================] - 9s 1ms/step - loss: 1.0504 - accuracy: 0.5408
Epoch 9/10
6554/6554 [==============================] - 9s 1ms/step - loss: 1.0493 - accuracy: 0.5411
Epoch 10/10
6554/6554 [==============================] - 7s 1ms/step - loss: 1.0483 - accuracy: 0.5417

### Predicting on the Test set

In [189]:
y_pred = ann.predict(X_test)

6554/6554 [==============================] - 12s 2ms/step

## Finding the accuracy

In [190]:
from sklearn.metrics import accuracy_score

r = []
for i in range(len(y_pred)):
    r.append(np.argmax(y_pred[i]))
    
print(accuracy_score(y_test, r))

0.5439477385976206

In [192]:
type(X_train)

pandas.core.frame.DataFrame

In [193]:
type(X_test)

pandas.core.frame.DataFrame

In [194]:
type(y_train)

pandas.core.series.Series

In [195]:
type(y_test)

pandas.core.series.Series